body {
    font-family: 'Actor',sans-serif;
    color: #091E3E;
    /* background-color: rgba(240, 236, 235, 0.815); */
}

nav {
  width:100%;
    margin:0;
}

nav ul {
  background-color:#333;
  overflow: hidden; /*any elements when browser collapsing that are too big will be hidden won't have to scroll side to side*/
  margin:0;
  padding:0;
    /* background-color: rgba(240, 236, 235, 0.815); */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 300px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page_noHeight {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* add margins so that cancel button is visible to screens*/
.screen-10-3-height {
  margin-top:70px;
}
.screen-10-4-height {
  margin-top:120px;
}
.screen-10-5-height {
  margin-top:120px;
}


.page_title {
    text-align: center;
}

.content {
    margin-top: 30px;
}

.margin-top-menu {
    margin-top: 20px;
}

.btn-margin {
    margin-top: 40px;
    text-align: center;
}

.progressBAR {
  margin-top: 35px;
}


/* 2-1 SELECT LANGUAGE */

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #091E3E;
}


/* 6 -HOME SCREEN */
.home-nav-spacing {
  padding-top: 70px;
}



/* PROFILE ICON */
.fa-user-circle {
  color:  #091E3E;
  margin:0;
  padding:0;
}
/* when hover over profile icon darkens */
.fa-user-circle.home-profile:hover {
  filter:brightness(50%);
  border: 0.1px solid;
  border-radius: 50%;


}
div.edit-profile-text p {
  visibility:hidden;


}
.fa-user-circle.home-profile:hover + div.edit-profile-text p {
  visibility: visible;

}

p.profile-name {
  margin-top: -30px;
  color: #343a40;
  font-size: 30px;
  font-weight:bold;

}



/* ##### SYMPTOMS PAGE AND DELETE ACCOUNT TO MAKE RED BORDER OF POPUP WINDOW ###### */
div.have-covid-symptoms div.modal div.modal-content {
  border:5px solid red;
  z-index:1;
  border-radius:1%;

}
div.red-border-alert div.modal-content {
  border:5px solid red;
  z-index:1;
  border-radius:1%;
}







/* 10-3  */
/* Select a Location Style */
div.sorting h5 {
  padding:0;
  margin:0;
}
div.sorting hr.bar-below-select-a-location{
  margin-left:20%;
  margin-right:20%;
  margin-top:5px;
  background-color:#091E3E;
}

div.col-6 h6 {
  padding-left:70px;
  margin-top:5px;
}
div.col-6 div.sort-dropdown {
  padding-right:50px;
}


/* SORT BUTTON */
.sortbtn {
  background-color: #E5E5E5;
  border: 1px solid  #091E3E;
  border-radius: 10px;
  padding: 2px 2px;
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.sortbtn:hover {
  border: 2px solid  #091E3E;
}

.sort-dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.sortdropdown-content {
  display: none;
  position: absolute;
  font-size: 13px;
  text-align: center;
  background-color: #E5E5E5;
  border: 1px solid #091E3E;
  min-width: 141px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.select {
  appearance: none;
  position: absolute;
  font-size: 13px;
  text-align: center;
  background-color: #E5E5E5;
  border: 1px solid #091E3E;
  padding: 0 1em 0 0;
  width: 130px;
  height: 30px;
  overflow: auto;
  right: 0;
  z-index: 1;
}


.sortdropdown-content a {
  color: #091E3E;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}
.sortdropdown-content a:hover {
  background-color: #091E3E;
  color: #E5E5E5;
}

.sort-show {display: block;}


/*end of 10-3*/
.scan {
    margin: 50px;
    width: 200px;
    height: 200px;
    border: 10px solid #091e3e;
    border-radius: 25px;
}

.appo-details {
    border-radius: 25px;
    background-color: #D7D8DB;
    padding: 15px 0 3px 25px;
}

.appo-more-details {
    border-radius: 25px;
    background-color: #D7D8DB;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

/* CANCEL BUTTON FOR 7*/
.cancelappointment {
  text-align: center;
  padding: 25px;
}


#map {
    height: 270px;
}

.progress-bar {
    border-radius: 25px;
}

#alert {
    margin-top: 5px;
    color: red;
}


.required {
    color: red;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.height12percent{
    height:12%;
}

.height4percent{
    height:4%;
}

.pcc {
    border-radius: 25px;
    padding: 25px;
    margin-top: 10px;
}

.hr-section-split{
    height:3px;
    color:gray;
    background-color:gray;
    border-width:0;
}

/* MENU */
ul.menu-bar li {
    list-style:none;
    float:left;
}

ul.menu-bar li.menu-bar-right {
    float:right;
}

ul.menu-bar li a {
    display:block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding:14px;
    color: white;
}

ul.menu-bar li a:hover {
    background-color: #091e3e;
    color:#fff;
}

ul.menu-bar li.drowpdownIcon {
    display:none;
}



.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .topnav #homeMenuLinks {
    display: none;
  }

  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.icon {
    float: right;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .qualified-register{
    border-radius: 25px;
    background-color: pink;
    padding: 25px;
  }

  .not-qualified-register{
    border-radius: 25px;
    background-color: dimgray;
    padding: 25px;
  }

  .hide {
      display: none;
  }


.sorting {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1px;
  text-align: center;
}


  /*  #### MOBILE ### */
  @media screen and (max-width:680px){
    ul.menu-bar li:not(:nth-child(0)){
        display:none;
    }

    ul.menu-bar li.dropdownIcon {
        display:block;
        float:right;
    }

    ul.menu-bar.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right:0;
    }
    ul.menu-bar.responsive {
        position: relative;
    }

    ul.menu-bar.responsive li {
        display: inline;
        float: none;
    }
    ul.menu-bar.responsive li a {
        display: block;
        text-align: left;
    }
  }


  /* Tips */

.linkNoColor {
  color: inherit;
}



/* BOTTOM OF THE PAGE */
.bottom-of-page-space {
  margin-bottom:20px;
}
